<launch>
	<node pkg="stream" type="clockNode.py" name="clockNode" output="screen"/>
	<node pkg="stream" type="monitor_b.py" name="monitor_b" output="screen"/>
	<node pkg="stream" type="greater_monitor_1.py" name="greater_monitor_1" output="screen"/>
	<node pkg="stream" type="monitor_t.py" name="monitor_t" output="screen"/>
	<node pkg="stream" type="monitor_a.py" name="monitor_a" output="screen"/>
	<node pkg="stream" type="two_stream_diff_monitor_0.py" name="two_stream_diff_monitor_0" output="screen"/>
	<node pkg="stream" type="tcount_monitor_2.py" name="tcount_monitor_2" output="screen"/>
</launch>