<launch>
	<node pkg="stream" type="clockNode.py" name="clockNode" output="screen"/>
	<node pkg="stream" type="tavg_monitor_2.py" name="tavg_monitor_2" output="screen"/>
	<node pkg="stream" type="monitor_danger.py" name="monitor_danger" output="screen"/>
	<node pkg="stream" type="mtl_monitor_8.py" name="mtl_monitor_8" output="screen"/>
	<node pkg="stream" type="greater_eq_monitor_3.py" name="greater_eq_monitor_3" output="screen"/>
	<node pkg="stream" type="or_monitor_0.py" name="or_monitor_0" output="screen"/>
	<node pkg="stream" type="or_monitor_1.py" name="or_monitor_1" output="screen"/>
	<node pkg="stream" type="monitor_radiation.py" name="monitor_radiation" output="screen"/>
	<node pkg="stream" type="mtl_monitor_4.py" name="mtl_monitor_4" output="screen"/>
	<node pkg="stream" type="greater_eq_monitor_7.py" name="greater_eq_monitor_7" output="screen"/>
	<node pkg="stream" type="mtl_monitor_6.py" name="mtl_monitor_6" output="screen"/>
	<node pkg="stream" type="monitor_orange.py" name="monitor_orange" output="screen"/>
	<node pkg="stream" type="monitor_yellow.py" name="monitor_yellow" output="screen"/>
	<node pkg="stream" type="greater_eq_monitor_5.py" name="greater_eq_monitor_5" output="screen"/>
	<node pkg="stream" type="monitor_red.py" name="monitor_red" output="screen"/>
</launch>